workflows/crm/lead-capture-to-baserow/workflow.json
{
  "id": "a1b2c3d4-0001-4abc-8def-000000000001",
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": true
  },
  "name": "Lead Capture to Baserow",
  "nodes": [
    {
      "id": "node-001-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "lead-capture",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-001-set",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "name",
              "value": "={{ $json.name ?? $json.full_name ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "email",
              "value": "={{ $json.email ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-003",
              "name": "phone",
              "value": "={{ $json.phone ?? $json.telephone ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-004",
              "name": "source",
              "value": "={{ $json.source ?? 'website' }}",
              "type": "string"
            },
            {
              "id": "assign-005",
              "name": "message",
              "value": "={{ $json.message ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-006",
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-001-baserow",
      "name": "Create Lead Row",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "operation": "create",
        "tableId": "YOUR_BASEROW_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "Name", "fieldValue": "={{ $json.name }}" },
            { "fieldId": "Email", "fieldValue": "={{ $json.email }}" },
            { "fieldId": "Phone", "fieldValue": "={{ $json.phone }}" },
            { "fieldId": "Source", "fieldValue": "={{ $json.source }}" },
            { "fieldId": "Message", "fieldValue": "={{ $json.message }}" },
            { "fieldId": "Status", "fieldValue": "new" },
            { "fieldId": "Created At", "fieldValue": "={{ $json.created_at }}" }
          ]
        }
      },
      "credentials": {
        "baserowApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Baserow account"
        }
      }
    },
    {
      "id": "node-001-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "fromEmail": "your@company.com",
        "toEmail": "={{ $('Normalize Fields').item.json.email }}",
        "subject": "Thanks for reaching out!",
        "message": "Hi {{ $('Normalize Fields').item.json.name }},\n\nThank you for contacting us. We have received your message and will get back to you within 24 hours.\n\nBest regards,\nYour Company",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Fields", "type": "main", "index": 0 }]]
    },
    "Normalize Fields": {
      "main": [[{ "node": "Create Lead Row", "type": "main", "index": 0 }]]
    },
    "Create Lead Row": {
      "main": [[{ "node": "Send Confirmation Email", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "versionId": "v1b2c3d4-0001-4abc-8def-000000000001"
}
